/*
Theme Name: Future Point One
Theme URI: https://futurepointone.de
Description: Custom WordPress child theme for Future Point One
Author: Munas-Print
Author URI: https://munas-print.de
Template: munas-custom-theme
Version: 1.0.0
Text Domain: futurepointone
*/

/* All custom styles are loaded from assets/css/custom.css */
