/**
 * Custom Scripts - {{PROJECT_NAME}}
 *
 * All custom JavaScript for this project
 */

(function($) {
	'use strict';

	// Ready
	$(document).ready(function() {
		console.log('{{PROJECT_NAME}}: Custom JS loaded');
		// Add your custom scripts here
	});

})(jQuery);
